
*{
    box-sizing: border-box;

}
.blacklayer{
    position: absolute;
    top: 0;
    height: 15vh;
    background :linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))  ;
    width:100vw;
}
.homeContent{
    scroll-snap-type: y mandatory;
}
.hero{
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    color: white;
    scroll-snap-align: center;

}

.backvideo{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;

    object-fit: cover;
    z-index: -1;
}
.heroContent{
    gap: 70%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}
.upper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.upper h1 {
    font-size: 48px;
    font-weight: 300;
}
.upper h3 {
    font-size: 32px;
    font-weight: 200;
    
}
.down{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}
.down a{
    width: 260px;
    padding: 12px 0;
    border-radius: 7px;
    font-size: 17px;
    text-decoration: none;
}
.demo{
    color: white;
    background-color: rgba(0, 0, 0, 0.508);
}
.order{
    color: black;
    background-color: white;
}
.order a {
    text-decoration: none;

}
.hero2{
    padding-top: 100px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/homey.png);
    background-position: center;
    background-size: cover;
    color: black;
}
.hero3{
    color: black;
    padding-top: 100px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/homes.webp);
    background-position: center;
    background-size: cover;
}
.hero4{
    padding-top: 100px;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/homex.png);
    background-position: center;
    background-size: cover;
}
